


.product-add-box{

    display: none;
    
    }


    .fiverr-wraper{
        width: 600px;
        margin: 200px auto;
    }
    
    .counter{
    
        font-size: 80px;
        text-align: center;
        font: weight 700px; ;
    }
    
.age_counter{

    width: 600px;
    margin: 100px auto;
}